<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All posts
    </h1>

    <a href="/posts/new" class="btn btn-block btn-outline-secondary">
      Add a new post
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "post_templates/posts_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @posts.each do |post| %>
      <tr>
        <!-- Display post.id start -->
        <td>
          <%= post.id %>
        </td>
        <!-- Display post.id end -->

        <!-- Display post.body start -->
        <td>
          <%= post.body %>
        </td>
        <!-- Display post.body end -->

        <!-- Display post.created_at start -->
        <td>
          <%= time_ago_in_words(post.created_at) %> ago
        </td>
        <!-- Display post.created_at end -->

        <!-- Display post.updated_at start -->
        <td>
          <%= time_ago_in_words(post.updated_at) %> ago
        </td>
        <!-- Display post.updated_at end -->

        <td>
          <a href="/posts/<%= post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @posts, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
