<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Post #<%= @post.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/posts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/posts/<%= @post.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit post
        </a>
      </div>

      <div class="col">
        <a href="/delete_post/<%= @post.id %>" class="btn btn-block btn-outline-secondary">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @post.body %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

