<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Post #<%= @post.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/posts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link post start -->
      <div class="col">
        <a href="/posts/<%= @post.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit post
        </a>
      </div>
      <!-- Edit link post end -->

      <!-- Delete link post start -->
      <div class="col">
        <a href="/delete_post/<%= @post.id %>" class="btn btn-block btn-outline-secondary">
          Delete post
        </a>
      </div>
      <!-- Delete link post end -->
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <!-- Display body start -->
      <dd>
        <%= @post.body %>
      </dd>
      <!-- Display body end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@post.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@post.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
